<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.erp.distribution.sfa">
<!--    package="com.android.artgallery">-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.erp.distribution.sfa.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RxSfa">
<!--        <activity android:name="com.erp.distribution.sfa.presentation.ui.test.gallery.GalleryActivity">-->
<!--        <activity android:name=".presentation.ui.MainActivity">-->
        <activity android:name="com.erp.distribution.sfa.presentation.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.erp.distribution.sfa.presentation.ui.test.detailphoto.PhotoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".presentation.ui.LoginActivity"/>
        <activity android:name="com.erp.distribution.sfa.presentation.ui.master.syncronize_fromserver.SyncronizeActivity"/>
        <activity android:name="com.erp.distribution.sfa.presentation.ui.master.material_lama.MaterialActivity"/>
        <activity android:name="com.erp.distribution.sfa.presentation.ui.material.MaterialActivity"/>


        <!--    <activity android:name=".sfa.master.syncronize_fromserver.SyncronizeActivity"/>-->
        <!--    <activity android:name=".LoginActivity" />-->
        <!--    <activity android:name=".sfa.transaksi.sales_order.SalesOrderActivity" />-->
        <!--    <activity android:name=".sfa.transaksi.sales_order.SalesOrderFormActivity" />-->
        <!--    <activity android:name=".sfa.master.customer_ref.CustomerRefActivity" />-->
        <!--    <activity android:name=".sfa.master.Customer.CustomerActivity" />-->
        <!--    <activity android:name=".sfa.master.material_note.NoteActivity" />-->
        <!--    <activity android:name=".sfa.master.material.MaterialActivity" />-->
    </application>



<!--    <uses-feature android:name="android.software.leanback"-->
<!--        android:required="false" />-->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />



</manifest>